<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pulse || radio</title>
    <script src="https://use.fontawesome.com/9c9a6556fc.js"></script>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="nav"></div>
    <a href="/auth/github"><i class="fa fa-git-square fa-5x" aria-hidden="true"></i></a>
</body>
</html>
