<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>pulse || radio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper grey darken-4">
          <a href="#!" class="brand-logo center"><i class="fa fa-pied-piper-alt" aria-hidden="true"></i></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="/auth/github" class="waves-effect waves-light btn purple lighten-1">Login</a></li>
          </ul>
        </div>
      </nav>
    </div>
</body>
</html>
